body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:709px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:462px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u178 {
  position:absolute;
  left:28px;
  top:26px;
  width:681px;
  height:462px;
}
#u179 {
  position:absolute;
  left:2px;
  top:223px;
  width:677px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u180 {
  position:absolute;
  left:62px;
  top:47px;
  width:71px;
  height:20px;
  font-size:14px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u182 {
  position:absolute;
  left:171px;
  top:135px;
  width:208px;
  height:22px;
}
#u182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u182_input {
  font-family:'应用字体';
}
#u182_input:disabled {
  color:grayText;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u183 {
  position:absolute;
  left:85px;
  top:137px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u185 {
  position:absolute;
  left:85px;
  top:195px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u187 {
  position:absolute;
  left:171px;
  top:200px;
  width:518px;
  height:161px;
}
#u187_input {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:161px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u187_input {
  font-family:'应用字体';
}
#u188 {
  position:absolute;
  left:171px;
  top:412px;
  width:204px;
  height:36px;
}
#u188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u188_input {
  font-family:'应用字体';
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u189 {
  position:absolute;
  left:657px;
  top:40px;
  width:19px;
  height:20px;
}
#u190 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
